@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
// font-weight => 300,500,700

// colors
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
$button: #8585AC;

// media queries
$screen-lg-min: 968px;
$screen-xl-min: 1400px;