@import "_config.scss";
@import "_functions.scss";
@import "_mixins.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  max-width: 100%;
}
body{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 80%;

  @include lg-min{
    background-size: 40%;
  }
  @include xl-min{
    background-size: 50%;
  }
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials{
  padding: 5rem 0rem;
  margin: 0 1rem;
  overflow: hidden; // placed before slider

  &__slider{
    display: flex;
    transition: 0.5s;
  }
  &__tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
    min-width: 100%;

    @include lg-min{
      flex-direction: row-reverse;
      justify-content: center;
    }
  }
  &__images{
    position: relative;
    
    @include lg-min{
      margin-left: rem(-135);
    }
  }
  &__avatar{
    z-index: 999;
    max-width: rem(250);
    transform: translateY(-5px);
    border-radius: rem(8);
    box-shadow: 0 0 rem(10) rgba(0,0,0,0.15);

    @include lg-min{
      max-width: rem(350);
    }
  }
  &__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.3);
  }
  &__buttons{
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 80px;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg-min{
      left: 12%;
      transform: translate(-12%, -70%);
    }
  }
  &__btn{
    border: none;
    background: transparent;
    font-size: 1.3em;
    color: $button;
    cursor: pointer;

    &:focus{
      outline: none;
    }
  }
  &__text{
    text-align: center;
    position: relative;

    @include lg-min{
      text-align: initial;
      max-width: rem(500);
    }
  }
  &__quotes{
    position: absolute;
    top: -14%;
    left: 50%;
    transform: translateX(-50%);
    width: rem(60);

    @include lg-min{
      top: -22%;
      left: 18.5%;
      transform: translateX(-18.5%);
      width: rem(85);
    }
  }
  &__desc{
    color: $dark-blue;
    opacity: 70%;
    font-weight: 500;
    font-size: 1.1em;
    padding: 0 1em;

    @include lg-min{
      padding: 0;
      font-size: 1.5em;
    }
  }
  &__user{
    margin-top: 1.5rem;

    @include lg-min{
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    &--name{
      color: $dark-blue;
      font-weight: 700;
      font-size: 1em;
    }
    &--position{
      color: $grayish-blue;
      font-weight: 500;
      font-size: 1em;

      @include lg-min{
        font-size: 0.8125em;
      }
    }
  }
}